.switch {
    display: flex;
    align-items: center;
    height: 1.5em;
    position: relative;
    width: 2.8em;
}

.confirmer-true {
    color: #66bb6a;
}

.confirmer-false {
    color: #DC3545;
}

.switch input {
    display: none;
}


.check-none {
    display:
        none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 1.2em;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 1.2em;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(16px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}