.section-main {
    background: #fff;
    height: 100%;
    /* padding: 1em; */
    position: fixed;
    top: 0;
    right: 0;
    width: 85% !important;
}

.section-article-picture {
    background: var(--primary);
    color: #fff;
    padding: 0.8em 1.5em;
    text-align: center;
    width: 100%;
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.05em;
}

.section-article-picture i {
    cursor: pointer;
}

.x-none {
    display: none;
}

.x-block {
    display: block;
}

/* 
.th-check {
    flex: 2;
} */

.row-check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pic-legend legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5em;
}


/* SECTION NAV PROFILE */
.section-main-profile {
    /* background: gray; */
}

.section-article-profile {
    padding: 1.5em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #58585633;
    /* background: red; */
}

.section-article-profile .profile-verification {
    width: 8.1em;
    height: 8.1em;
    object-fit: contain;
    /* background: red; */
}

.figure-img {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    /* background: green; */
    width: 100%;
}




.picture-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
    /* flex: 1 100%; */
    /* background: red; */
    width: 100%;
    /* min-width: 100% !important; */
}


.picture-text h1 {
    font-size: 2.1em;
    /* font-weight: 450; */
}

.title-pic-vc {
    /* background: red; */
    display: flex;
    gap: 0.3em;
    flex-direction: row;
    flex-wrap: nowrap;
}

.list-btn {
    display: none;
}

.email-p {
    font-size: 1.1em;
    color: #585856;
}

.figure-text-verification {
    /* background: red; */
    text-align: end;
}

.figure-text-verification h1 {
    font-size: 2.1em;
    font-weight: 700;
    color: #585856;
}


/* .figure-text-verification p {
    font-size: 1.1em;
} */