.section-row-table {
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 height: 100%;
 max-height: 100%;
    flex: 1;
    /* scroll-padding-bottom: 25em; */
    /* position: sticky; */
    /* padding-bottom: 20em; */
    overflow-y: auto;
}

/* @media screen and (max-width: 1700px) {
   .section-row-table {
  
    height: 50%;
    max-height: 100%;
}
.section-btn-verification{
    position:relative !important;

    width: 100%;

}
} */

/* @media screen and (max-height: 1282px) {
   .section-row-table {
    background: red !important;
  
    height: 100%;
    max-height: 74% !important;
}

} */


.section-row-table .article-table1 {
    /* background: green; */
    flex: 1;
}

.section-row-table .article-table2 {
    /* background: yellow; */
    border-left: 1px solid #58585654;
    flex: 0.5;

}

.fig-title-table {
    padding: 1.2em 2.5em;
    /* background: yellow; */
}

form{
    /* background: red; */
    height: 100%;
    position: relative;
    /* padding-bottom: 5em; */
}

.padding-table {
    padding-bottom: 0.5em !important;
}

.fig-title-table h1 {
    font-size: 1.4em;
    font-weight: 700;
    color: #2892F5;
}


.figure-title-secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;
}


.figure-title-secondary i {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.figure-title-secondary h3 {
    font-weight: 600;
    color: #585856;
    font-size: 1.19em;
}

.fig-table {
    /* background: red; */
    padding: 0.8em 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

/* TABLE */
#modale-apercu-secondary {
    background: #0000005d;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    display: none;
}

#modale-apercu-secondary section {
    width: 70%;
    height: max-content;
    margin: 0 auto;
    background: #fff;
    margin-top: 1em;
    margin-bottom: 1em;

}

.row-width {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.5em;
}

.row-check {
    justify-content: space-between !important;
    /* background: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* gap: 0.5em; */
}

.mobile-check-down {
    display: none;
}



.row-th {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.row-th i {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 0.5em; */
}

.row-th p {
    font-size: 1.05em;
}

.pdf {
    /* width: 100%; */
    /* background: red; */
}

.pdf p {
    font-weight: 400;
    color: #585856;
    font-size: 1.05em;
}

.row-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em !important;
    line-height: 0.9em !important;
}

.color-white {
    color: #fff;
}



.title-doc {
    font-weight: 700;
}

.row-doc {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.table-doc {
    /* background: rgb(0, 0, 0); */
    /* border: 1px solid black; */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
    margin-top: 0 !important;
    /* background: green; */

}

.tr {
    /* background: yellow !important; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #58585654;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
}


.inpt-silver {
    border: none;
    background: #5858561A;
    outline: none;
    border-radius: 0.5em;
    padding: 1em;
    font-size: 1em;
    flex: 1;
}


.th {
    text-wrap: nowrap;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    /* background: red !important; */
    padding: 0.8em 1em;
    flex: 1;
    height: 4.5em;
    max-height: 100%;
    border: 1px solid #58585654;

}

.t-head {
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.p-wrap {
    text-wrap: wrap;
    font-weight: 500;
    width: 80%;
    /* background: red */
}


.table-parent {
    /* background: green !important; */
    /* overflow: auto; */
    /* display: none !important; */
    width: 100% !important;

}

.table-parent figure {
    /* background: red; */
    width: 100%;
}

.table-doc tr th {
    /* background: yellow; */
    /* border-right: 1px solid black; */
    padding: 0.2em 0.8em;
    font-weight: 550;

}

.table-doc tr th:nth-child(3) {
    /* background: red; */
    width: 40%;
}

.table-doc tr th:last-child {
    /* background: red; */
}

.table-doc tr th:nth-child(2) {
    /* background: green; */
    text-align: left;
}

.table-doc tr th input[type='checkbox'] {
    width: 1.2em;
    height: 1.2em;
    accent-color: var(--primary);
}

.table-doc tr th:last-child {
    /* background: yellow; */
    /* border-right: none; */

}

.red {
    color: rgb(206, 22, 22);
}

.th-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.th-row i {
    cursor: pointer;
}

.th-row i:hover {
    scale: 1.05;
}

.pop-btn2 {
    /* background: red; */
    padding: 2em 0;
    width: 100%;
}

.pop-btn2 div {
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}