
@media screen and (min-height: 635px) {
   .section-row-table {
    max-height: 55% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: 670px) {
   .section-row-table {
    max-height: 56% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height:705px) {
   .section-row-table {
    max-height: 57% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: 740px) {
   .section-row-table {
    max-height: 58% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: 775px) {
   .section-row-table {
    max-height: 59% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: 810px) {
   .section-row-table {
    max-height: 60% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}

@media screen and (min-height: 845px) {
   .section-row-table {
    max-height: 61% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height:880px) {
   .section-row-table {
    max-height: 62% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}

@media screen and (min-height: 915px) {
   .section-row-table {
    max-height: 63% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}

@media screen and (min-height: 950px) {
   .section-row-table {
    max-height: 64% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: 985px) {
   .section-row-table {
    max-height: 65% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: 985px) {
   .section-row-table {
    max-height: 66% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: calc(1300px - 35px - 35px - 35px - 35px - 35px - 35px - 35px - 35px - 35px)) {
   .section-row-table {
    max-height: 67% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}

@media screen and (min-height: calc(1300px - 35px - 35px - 35px - 35px - 35px - 35px - 35px - 35px)) {
   .section-row-table {
    max-height: 68% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: calc(1300px - 35px - 35px - 35px - 35px - 35px - 35px - 35px)) {
   .section-row-table {
    max-height: 69% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}

@media screen and (min-height: calc(1300px - 35px - 35px - 35px - 35px - 35px - 35px)) {
   .section-row-table {
    max-height: 70% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: calc(1300px - 35px - 35px - 35px - 35px - 35px)) {
   .section-row-table {
    max-height: 71% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: calc(1300px - 35px - 35px - 35px - 35px)) {
   .section-row-table {
    max-height: 72% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: calc(1300px - 35px - 35px - 35px)) {
   .section-row-table {
    max-height: 73% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;


}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}

@media screen and (min-height: calc(1300px - 35px - 35px)) {
   .section-row-table {
    max-height: 74% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;

}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: calc(1300px - 35px)) {
   .section-row-table {
    max-height: 75% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;

}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: 1300px) {
   .section-row-table {
    max-height: 76% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;

}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: 1335px) {
   .section-row-table {
    max-height: 77% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;

}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: 1420px) {
   .section-row-table {
    max-height: 78% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;

}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}
@media screen and (min-height: 1490px) {
   .section-row-table {
    max-height: 79% !important;
    /* background: red; */
/*   
    height: 50%;
    max-height: 100%; */
    overflow-y: auto !important;

}
.section-btn-verification{
    position: sticky;
    /* padding: 1em; */
    background: #fff;
    width: 100%;
    right: 0;
    bottom: 0;
}
}