@media screen and (max-width: 272px) {
    .email-p {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

}


@media screen and (max-width: 340px) {


    .row-btn {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
    }
}

@media screen and (max-width: 354px) {



    .picture-textarea label h3 {
        /* background: green !important; */
        margin-left: 0 !important;
        margin-bottom: 1em;
        position: initial !important;

    }
}

@media screen and (max-width: 510px) {
    .figure-desc .col-desc {
        /* background: greenyellow; */
        width: 100% !important;
    }

    .figure-desc .col-desc legend {
        /* background: yellow; */
        display: flex;
        flex-direction: column !important;
        gap: 0.5em;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    .section-article-profile {
        display: flex;
        flex-direction: column !important;
        /* gap: 2.5em; */
        align-items: center;
    }

    .figure-img {
        width: 100% !important;
    }

    .figure-text-verification {
        width: 100% !important;
        text-align: center !important;
        align-items: center;
    }

    .section-article-picture {
        flex-direction: column !important;
        gap: 1em !important;

    }
}

@media screen and (max-width: 678px) {}

@media screen and (max-width: 765px) {
    .tr {
        display: flex;
        flex-direction: column !important;
        gap: 0.5em;
        border: none !important;
    }

    .th {
        width: 100% !important;
    }

    .inpt-silver {
        border: none;
        /* background: red !important; */
        outline: none;
        border-radius: 0.5em;
        padding: 1em;
        font-size: 1em;
        flex: 0 !important;
        min-width: 100% !important;
        /* max-width: 100% !important; */
    }

    /* FIG CHECK TABLE */
    .mobile-check-down {
        /* display: block !important; */
        display: flex !important;
        flex-direction: row;
        justify-content: end;
        gap: 0.5em;
        padding: 0.6em;
        /* background: green; */
        width: 100%;
    }

    .th-check {
        /* background: red; */
        display: none !important;
    }

    .row-th {
        /* background: red; */
        width: 100%;
    }

    .th {
        /* background: blue; */
        padding: 0.5em !important;
    }

    .th:first-child {
        /* background: blue; */
        padding: 0 !important;
    }

    body .p-wrap {
        text-wrap: wrap !important;
    }

    .see-mobile {
        /* background: red; */
        padding: 0.6em;
        border-right: 1px solid #58585654;
    }

    .th-commentaire {
        /* background: red; */
        border-top: none !important;
        margin-top: -0.5em;
    }

    .tr .hidden-slide-mobile {
        display: none;

    }

    .tr .hidden-slide-mobile.show {
        display: block;
    }

    .i-click-slide-mobile.active {
        transform: rotate(180deg);
        /* Exemple pour faire pivoter l'icône */
    }
}

@media screen and (max-width: 848px) {
    .btn-picture {
        display: flex;
        flex-direction: column-reverse !important;
        gap: 1em;
        padding: 1.5em 1em !important;
        /* background: red; */

    }

    .p-wrap {
        text-wrap: nowrap !important;
    }

    .btn-picture div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap !important;
        gap: 1em;
    }

    .btn-picture button {
        width: 100%;
        /* background: red; */
    }

    .btn-quitte {
        display: none !important;
    }

    .btn-contenu {
        display: flex;
        flex-direction: column !important;
    }


    .btn-contenu div:nth-child(2) {
        display: flex !important;
        flex-direction: row-reverse !important;
        /* background: red; */
    }

    .btn-second button {
        width: 50%;
    }

    /* BTN */
    .goOut-btn {
        display: block !important;
    }


    .row-btn {
        display: flex;
        flex-direction: row;
        justify-content: center !important;
    }

    .hr {
        /* background: red; */
        padding: 0.8em 1em !important;

    }


    .fig-textarea {
        /* background: red; */
        padding: 0.8em 1em !important;
    }


}

@media screen and (max-width: 930px) {
    html {
        font-size: 0.8em;
    }


    .section-article-picture {
        padding: 0 !important;
        text-align: center;
        width: 100%;
        font-size: 1.3em;
        font-weight: 500;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center;
        gap: 0 !important;
        letter-spacing: 0.05em;
    }

    .pic-arrow {
        /* background: red !important; */
        flex: 0 10% !important;
    }

    .pic-arrow legend {
        display: flex;
        flex-direction: row;
        align-items: center !important;
        flex-wrap: nowrap !important;
        gap: 0.5em;
    }

    .pic-arrow legend i {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .figure-img {
        display: flex;
        flex-direction: row;
        gap: 1em !important;
        align-items: center;
        /* background: green; */
        width: 100%;
    }

    .section-article-picture picture {
        /* background: green !important; */
        /* width: 100% !important; */
        /* background: #1a86eb; */
        /* padding: 0.8em 1.5em !important; */
        /* border-bottom: 1px solid #ffffff54; */
        padding: 0.7em;

    }

    .pic-legend {
        /* background: green !important; */
        flex: 0;
    }

    .pic-legend h5 {
        text-align: left !important;
    }

    .x-none {
        display: block !important;
        flex: 1;
    }

    .title-none {
        display: none !important;
    }

    /* .figure-img {
        display: flex;
        flex-direction: column !important;
        gap: 1em !important;
        padding: 1.5em;
        border-radius: 0.2em;
    } */

    .picture-text {
        display: flex;
        flex-direction: column !important;
        gap: 0.8em !important;
        /* flex: 1 100%; */
        /* background: red; */
        width: 100%;
        /* min-width: 100% !important; */
    }

    .section-article-profile {
        padding: 1.5em 1em !important;
        /* background: red; */
    }

    .fig-table {
        /* background: red; */
        padding: 0.8em 1em !important;

    }

    .fig-title-table {
        padding: 0.5em 1em !important;
        margin-top: 1em;
        /* background: yello; */
    }

    .section-article-profile .profile-verification {
        width: 6.5em !important;
        height: 6.5em !important;
        object-fit: contain;
        /* background: red; */
    }

    .figure-text-verification {
        /* background: red; */
        padding: 0 !important;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: last baseline;
        text-align: left !important;
    }

    .email-p {
        font-size: 0.9em !important;
    }

    .picture-text h1,
    .figure-text-verification h1 {
        font-size: 1.4em !important;
        /* font-weight: 450; */
    }

    .list-btn {
        display: block !important;
    }

    .col-text {
        /* background: red; */
        display: flex;
        flex-direction: row;
        /* align-items: first baseline; */
        justify-content: space-between;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }

    .list-btn i {
        cursor: pointer;
    }

    .figure-text-verification {
        /* background: #f5f5f5; */
        padding: 1.5em;
        border-radius: 0.2em;
    }

    .figure-text-verification p {
        font-size: 0.9em !important;
    }


    .section-row-table {
        /* background: red; */
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
    }

    /* .title-pic-vc{
    background: red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
} */
    /* POP FIG Ic */
    .section-row-table .article-table2 {
        background: #fff;
        border-left: none !important;
        flex: 0.5;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        overflow-y: auto;
    }

    .fig-personnel {
        padding: 0.8em 1em !important;
    }

    .figure-desc .col-desc {
        /* background: green; */
        width: 99.5% !important;
    }

    .figure-desc .col-desc legend {
        /* background: yellow; */
        display: flex;
        flex-direction: column !important;
        gap: 0.5em;
    }

    .fig-message {
        padding: 0.8em 1em !important;
    }

    .close-ic-article {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.8em 1em;
        display: block !important;
    }


}