@media screen and (max-width: 1278px) {

    .picture-table figure {
        width: 100%;
        /* background: green !important; */
        /* padding: 1em; */
            overflow-x: auto;
            /* height: 2em;
        max-height: 2em !important; */
        /* overflow-x: auto; */
    }



}

@media screen and (min-width: 1600px) {


    #main {
        margin: auto;
        width: 92em !important;
    }


}